body{
    font-family:"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #f5f5f5;
}
*{
    box-sizing: border-box;
}
.logo a{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}
.navs ul a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
header{
    background-image: url("../devfolio/intro-bg.jpg");
    background-position: center center;
    background-size: cover;

}
.layer{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.layer h1{
    font-size: 4.5rem;
}
.layer p{
    font-size: 2.5rem;
}
.sec1 .box-full{
        padding: 3rem 1.25rem;
        position: relative;
        background-color: #fff;
        margin-bottom: 3rem;
        z-index: 2;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}
.sec1 .profile2 .title-left{
    font-size: 2rem;
    position: relative;
}
.title-left::before{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}
.sec2 .title-box h3{
    font-size: 3rem;
}
.sec2 .line{
    width: 30px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;
}


.service-box .box{
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}
.sec2 .box .circle{
    height: 60px;
    width: 60px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}
.sec2 .box:hover .circle{
    background-color:#0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
}
.service-box .title-s{
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: .4rem 0;
}
.sec3{
    height: 500px;
    background-image: url("../devfolio/counters-bg.jpg");
    background-position: center center;
    background-size: cover;
}
.sec3 .layer-s{
    height: 100%;
    background-color: rgba(0, 0, 255, 0.7);

}
.counter-box{
    
        color: #fff;
        text-align: center;
}
.sec3 .counter-box .circle2{
    height: 60px;
    width: 60px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #f5f5f5;
    display: block;
}
.counter-num .counter{
    
        font-size: 2rem;
    
}
.sec4 .title3 , .sec6 .titl4{
    font-size: 3rem;
}
.sec4 .line , .sec6 .line{
    width: 50px;
    height: 5px;
    background-color: #0078ff;
    margin: 0 auto;

}
.sec4 .work-box{
    margin-bottom: 3rem;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.sec4 .work-box:hover .work-img{
    transform: scale(1.2,1.2);
}
.work-content{
    padding: 2rem 3% 1rem 0;
}
.work-content .lite{
    font-size: 1.2rem;
}
.work-content .w-lite{
    color: #0078ff;
}
.work-content .w-like{
    font-size: 2.5rem;
    color: #0078ff;
}
.sec5{
    height: 500px;
    margin-top: 100px;
    background-image: url("../devfolio/overlay-bg.jpg");
    background-position:center; 
    background-size: cover;
}
.overlay{
    height: 100%;
    background-color: rgba(0, 0, 255, 0.5);
}
.sec5 .carousel-inner .dot{
    font-size: 2rem;
    color: #0078ff;
    background-color: #fff;
    width: 52px;
    height: 52px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    line-height: 1.6;
}
.sec6 .card .card-body{
    position: relative;
}
.card .card-body .card-content{
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
}
.card .card-body .card-box{
    display: inline-block;
    color: #fff;
    padding: 0 10px 0;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
}
.card-box .category{
    width: 50px;
    height: 25px;
    text-align: center;
}
.card .category .titl-card{
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: .1px;
    margin-bottom: 0;
}
.card .card-title{
    font-size: 1.3rem;
    margin-top: .6rem;
}
.card .footer{
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}
.card .footer img{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}
.sec7{
    background-image: url("../devfolio/overlay-bg.jpg");
    background-position:center center;
    background-size: cover;

}
.sec7 .overlay2{
    height: 100%;
    background-color: rgba(0, 0, 255, 0.5);
}

.sec7 .overlay2 .box-shadow-full .title-left{
    font-size: 2rem;
    position: relative;
}
.title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}
h1, h2, h3, h4, h5, h6 {
    color: #1e1e1e;
}
.sec7 .overlay2 .more-info .list-icos i{
    color: #0078ff;
}
.sec7 .socials ul .circle{
    height: 30px;
    width: 30px;
    font-size: 1.3rem;
    border-radius: 50%;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    display: block;
}
.sec7 ul li:hover .circle{
    background-color:#0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
}